#IGNORE
Docs
BASELINE
Code/NNpredictYSOfull.ipynb
Code/NNpredictYSOfull-Copy1.ipynb
.*
!.gitignore
Iso.ipynb
Code/Data/combines/LargeScaleStarHorse.fits
Code/Data/Combines/converted.fits
Code/Data/Combines/*

Code/Data/Train/StarHorseAug.fits
Code/Data/Train/SH+phot50000.fits